.jugador{
    // border: 3px solid purple;
    width: 250px;
    height:300px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .ImgCont{
        position: absolute;
        // border: 3px solid green;
        height: 10%;
        width: 10%;
        margin: 0;
        
        .Img{
            margin: 0;
            height: 60px;
            width: 60px;
            border: 4px solid #C8B300;
            border-radius: 50%;
            
        }
    }
    .relleno{
        opacity: 0;
        border: 3px solid yellow;
        width: 50%;
        height: 15%;
        // opacity: 0;
    }
    .tarjeta{
        width: 100%;
        height: 90%;
        
        display: flex;
        flex-direction: column;
        
        align-items: center;
        justify-content: flex-end;

        border: 4px outset #C8B300;
        background-color: rgba(50,50,50,0.9);
        border-radius: 3em;
        &__cont{
            // border: 3px solid yellowgreen;
            width: 85%;
            display: flex;
            justify-content: flex-end;
            &__salir{
                color: white;
                // font-size: 90%;
                opacity: 0.5;
                &:hover{
                    cursor: pointer;
                    opacity:0.9 ;
                }
            }
        }
        .MontoCont{
            .Titulo{
                font-size: 120%;
                
            }
            .Monto{
                font-size: 200%;
                
            }
        }
        .fichasCont{
            width: 80%;
            height: 17%;
            margin: 0.5em 0;
            // border: 3px solid palevioletred;
            display: flex;
            justify-content: space-around;
            // flex-wrap: wrap;
            .ficha{
                &:hover{
                    cursor: pointer;
                }
            }
            
        }
        .abcdCont{
            width: 100%;
            height: 17%;
            margin: 0.5em 0;
            // border: 3px solid palevioletred;
            display: flex;
            justify-content: space-around;
            .abcd{
                border: 3px solid #929292;
                background-color: white;
                text-align: center;
                width: 20%;
                height: 100%;
                border-radius: 0.7em;
                color: black;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 150%;
                &:hover{
                    cursor: pointer;
                    scale: 95%;
                }
            }
        }
        .off{
            opacity: 0.4;
        }
        .botonesCont{
            // border: 3px solid blue;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 1em;
        }
        .apuestaCont{
            // border: 3px solid brown;
            border: 3px outset #C8B300;
            border-radius: 2em;
            width: 100%;
            height: 35%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            
            .fichCont{
                // border: 1px solid red;
                height: 90%;
                display: flex;
                overflow: hidden;
                .fichas{
                    // border: 1px solid black;
                    width: 25%;
                    display: flex;
                    flex-direction: column-reverse;
                    .fichaPeq{
                        position: absolute;
                        // perspective: 100px;
                        width: 45px;
                    }
                }
                
            }
            .apuestaTotal{
                // border:1px solid greenyellow;
                font-size: 150%;
                opacity: 0.6;
            }
        }

    }



}