.asientos{
    // border: 3px solid white;
    height: 100%;
    display: flex;
    flex-direction: column;

    .jugadoresCont{
        // border: 3px solid hotpink;
        height: 90%;
        width: 100%;
        display: flex;
        
        .Contenedor{
            // border: 3px solid cyan;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            // .izq{
            
            // }
            // .der{
                
            // }
        }
    }

    .jugadorCont{
        // border: 3px solid black;
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
    }
}