.sign{
    // border: 3px solid black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    &__form1{
        // border: 3px solid grey;
        display: none;
        // flex-direction: column;
        width: 100%;
        justify-content: space-between;
        margin: 30px auto;
    }
    &__form2{
        // border: 3px solid white;
        // width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &__btn{
            height: 5%;
            // border: 3px solid red;
            display: flex;
            justify-content: flex-end;
            &:hover{
                cursor: pointer;
                opacity: 0.7;
                // transform: scale(1.2);
            }
        }
    }
}