.croupier{
    // border: 3px solid black;
    display: flex;
    margin: 0px;
    height: 100vh;
    padding: 0;
    
    .chatCont{
        // border:3px solid red;
        width: 30%;
    }
    .juego{
        // border: 3px solid cyan;
        // position: absolute;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100%;
        top: 0;     
        padding: 0;
        margin: 0;
     
        .cuestionarioCont{
            position: absolute;
            top: 0;
            // border: 3px solid pink;
            width: 70%;
            height: 70%;
            justify-content: center;
            justify-content: center;
            z-index: 3;
            
        }
        .ruletaCont{
            // border: 3px solid blue;
            width: 100%;
            height: 100%;
            z-index: 1;
           
        }
        .asientosCont{
            // border: 3px solid greenyellow;
            // display: flex;
            // justify-content: center;
            position: absolute;
            width: 70%;
            height: 100%;
            z-index: 2;
            
        }
        &__fondo{
            position: absolute;
            z-index: 0;
            scale: 150%;
            top: -60%;
        }
    }

    .boton{
        z-index: 4;
        width: min-content;
        position: absolute;
        // top: 20px;
        &:hover{
            cursor: pointer;
            scale: 105%;
            opacity: 0.7;
        }
    }
}
