.croupier{
    // border: 3px solid black;
    height: 200vh;
    margin: 0px;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    
    &__chat{
        display: flex;
        justify-content: center;
        // border:3px solid red;
        // height: 100vh;
        width: 100%;
        height: 100%;
        // width:30%;
    }
    .juego{
        // border: 3px solid grey;
    //    overflow: hidden;
        // position: absolute;
        // justify-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // width: 70%;
        height: 100%;
        top: 0;     
        padding: 0;
        margin: 0;
     
        
        .ruletaCont{
            // border: 3px solid grey;
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            flex-direction: column;
            
            &__elem{
                // border: 3px solid white;
                width: 100%;
                height: 50%;
                // font-size: 800%;
                font-size: 500%;
            }
        }
        .asientosCont{
            // border: 3px solid white;
            position: absolute;
            width: 100%;
            // width: 70%;
            height: 50%;
            z-index: 2;
            
        }
        &__fondo{
            // border: 3px solid white;
            position: absolute;
            z-index: 0;
            top: -65%;
            width: 100%;
        }
    }

    .boton{
        z-index: 4;
        width: min-content;
        position: absolute;
        // top: 20px;
        &:hover{
            cursor: pointer;
            scale: 105%;
            opacity: 0.7;
        }
    }
}
@media only screen and ( min-width:800px){
    .croupier{
        height: 100vh;
        flex-direction: row;
        &__chat{
            width: 30%;
        }
        .juego{
            // border: 3px solid violet;
            width: 70%;
            .asientosCont{
                // border: 3px solid red;
                height: 100%;
                width: 70%;
            }
            &__fondo{
                // border: 3px solid purple;
                top: -65%;
            }
        }
    }
}

@media only screen and ( min-width:200px){
    .croupier{
        height: 100vh;
        flex-direction: row;
        &__chat{
            width: 30%;
        }
        .juego{
            // border: 3px solid violet;
            width: 70%;
            .asientosCont{
                // border: 3px solid red;
                height: 100%;
                width: 70%;
            }
            &__fondo{
                // border: 3px solid purple;
                top: -65%;
            }
        }
    }
}
@media only screen and ( min-width:650px){
    .croupier{
        height: 100vh;
        flex-direction: row;
        &__chat{
            width: 30%;
        }
        .juego{
            // border: 3px solid violet;
            width: 70%;
            .asientosCont{
                // border: 3px solid red;
                height: 100%;
                width: 70%;
            }
            &__fondo{
                // border: 3px solid purple;
                top: -80%;
            }
        }
    }
}

@media only screen and ( min-width:1000px){
    .croupier{
        height: 100vh;
        flex-direction: row;
        &__chat{
            width: 30%;
        }
        .juego{
            // border: 3px solid violet;
            width: 70%;
            .asientosCont{
                // border: 3px solid red;
                height: 100%;
                width: 70%;
            }
            &__fondo{
                // border: 3px solid purple;
                top: -65%;
            }
        }
    }
}
// @media only screen and ( min-width: 1400px){
//     .croupier{
//         .juego{
            
//         }
//     }
// }
@media only screen and ( min-width: 1600px){
    .croupier{
        .juego{
            &__fondo{
                top: -80%;
                &__img{
                    width: 40%;
                } 
            }
        }
    }
}

