.croupier{
    // border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100vh;
    padding: 0;
    
    .juego{
        // border: 3px solid white;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;     
        padding: 0;
        margin: 0;
        .cuestionarioCont{
            position: absolute;
            top: 0;
            // border: 3px solid red;
            width: 100%;
            height: 70%;
            justify-content: center;
            justify-content: center;
            z-index: 2;
            
        }
        .ruletaCont{
            // border: 3px solid blue;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        .jugadorCont{
            // border: 3px solid greenyellow;
            display: flex;
            justify-content: center;
            top: 65%;
            width: 20%;
            z-index: 3;
            height: 90%;

        }
    }

    .boton{
        z-index: 4;
        width: min-content;
        position: relative;
        // top: 20px;
        &:hover{
            cursor: pointer;
            scale: 105%;
            opacity: 0.7;
        }
    }
}
