.signUp{
  // border:3px solid yellow;
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100%;

  .formularioR{
    // border: 3px solid orange;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;      
  }
  &__btn{
    // border: 3px solid yellow;
    display: flex;
    justify-content: center;
  }
}

