.ruleta{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.elemento{
    position: absolute;
    width: 700px;
}

.giroIn{
    transition: transform 7s ease-out;
}
.giroEx{
    transition: transform 4s ease-out;
}

.singiro{
    transition: transform none;
}


