.ruleta{
    // border: 3px solid blue;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &__selector{
        position: absolute;
        width: 300px;
        transform: rotate(-90deg);
    }
}
@media only screen and (min-width:500px){
    .ruleta{
        &__selector{
            width: 400px;
        }
    }
}

@media only screen and (min-width: 1200px){
    .ruleta{
        &__selector{
            width: 450px;
        }
    }
    
}

