.transfer{
    // border: 3px solid green;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &__cont{
        // border: 3px solid cyan;
        height: 60%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        &__form{
            // border:3px solid purple;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__group{
                // border: 3px solid pink;
                height: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                &__select{
                    color: black;
                }
            }
        }

    }
   

}
