.App {
  /* border: 3px solid black; */
  display: flex;
  flex-direction: column;

  font-family: 'Montserrat';
  text-align: center;
  color: white;
  
  background-image: url("./img/alfombra.jpg");
  background-repeat: repeat;
  /* height: 100vh; */
}
.encabezado{
  position: relative;
}
.contenido{
  /* border: 3px solid orange; */

  position: relative;
  /* height: 100vh; */
  width: 100%;
  height: 100%;
  overflow: hidden;
}


