.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url("./img/fondo.jpg");
  /* background: linear-gradient(#057547,#044329); */
  font-family: 'Montserrat';
  color: white;
  }
.encabezado{
  position: absolute;
}
.contenido{
  height: 100vh;
}


