.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url("./img/alfombra.jpg");
  /* background: linear-gradient(#057547,#044329); */
  font-family: 'Montserrat';
  color: white;
}
.margen{
  
  margin: 5px 35px;
  }
.encabezado{
  position: relative;
}
.contenido{
  /* border: solid 3px orange; */
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}


